{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <h1>Default Shop Page</h1>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="container">
    {% for product in products %}
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ product.price | format_currency('EUR') }} <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ product.description }}</li>
                    <li>{{ product.category.description }}</li>
                    <li>{{ product.longdescription | raw }}</li>
                    <li><img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.description }}" class="img-fluid"></li>
                </ul>
                <a href="{{ path('cart_add', {'id': product.id}) }}"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Order</button></a>
            </div>
        </div>
    </div>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
</div>

{% endblock %}
